<header class="main-header">
    <div class="main-header__logo-container">
        <a routerLink="/home">
            <img class="logo" src="assets/images/logo_transparent.png" alt="OffGrid Store" />
        </a>
    </div>
    <nav class="main-header__navbar">
        <ul class="navbar__buttons-container">
            <li class="navbar__button"><a routerLink="/home">Home</a></li>
            <li class="navbar__button"><a routerLink="#">Orders</a></li>
            <li class="navbar__button" *ngIf="!loggedIn">
                <a routerLink="/register">
                    <fa-icon [icon]="faUserPlus" title="Register"></fa-icon>
                </a>
            </li>
            <li class="navbar__button">
                <a routerLink="/login">
                    <span *ngIf="loggedIn">{{loggedIn}}</span>
                    <fa-icon [icon]="faSignInAlt" title="Log In" [className]="loggedIn ? 'hidden' : ''"></fa-icon>
                </a>
            </li>
            <li class="navbar__button" *ngIf="showLogoutBtn && loggedIn">
                <p (click)="logoutUserHandler()">
                    <fa-icon [icon]="faDoorOpen" title="Log Out"></fa-icon>
                </p>
            </li>
            <li class="navbar__button">
                <a routerLink="/checkout">
                    <fa-icon [icon]="faShoppingCart" title="Shopping Cart"></fa-icon>
                </a>
            </li>
        </ul>
    </nav>
</header>