@import "../checkout-stepper-common";

.checkout__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 35rem;
  gap: 1.5rem;
  padding: 2rem 1rem;
  border: $card-border-light;

  .form__standard-shipping,
  .form__fan-shipping,
  .form__ups-shipping {
    max-width: 22rem;
    width: 100%;
  }
}
