<div class="product" *ngIf="product">
    <section class="product__images">
        <img src="{{product.mainImg}}" class="images__main-img" />
        <ul *ngIf="product.media" class="images__gallery-thumbnails">
            <li *ngFor="let image of productImages"><img src="{{image.path}}" class="thumbnail" />
            </li>
        </ul>
    </section>
    <section class="product__details">
        <p class="details__product-name">{{product.name}}</p>
        <p class="details__product-price">Price: ${{product.price}}</p>
        <p class="details__product-description">{{product.description}}</p>
        <div class="product__inputs">
            <input type="number" value="1" min="1" max="{{product.stock}}" class="quantity" />
            <button class="cart-button pointer">Add to cart <i class="fa fa-shopping-cart"></i></button>
        </div>
    </section>
</div>