<div class="product">
    <section class="product__images">
        <img src="../../assets/images/logo_transparent.png" class="images__main-img" />
        <ul class="images__gallery-thumbnails">
            <li><img src="../../assets/images/logo_transparent.png" class="thumbnail" /></li>
            <li><img src="../../assets/images/logo_transparent.png" class="thumbnail" /></li>
            <li><img src="../../assets/images/logo_transparent.png" class="thumbnail" /></li>
        </ul>
    </section>
    <section class="product__details">
        <p class="details__product-name">Product List Item</p>
        <p class="details__product-price">Price: $1000</p>
        <p class="details__product-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus
            voluptate, veniam illo ipsam corporis quam modi beatae ut non. Consequuntur, quasi fuga veritatis beatae
            eius, dicta accusantium ipsam accusamus repellat veniam officiis perferendis? Est eum possimus totam in
            consequatur, cumque, sed accusantium ipsa, accusamus quas sint fugit dolorem. Ea, eius!</p>
        <div class="product__inputs">
            <input type="number" value="1" class="quantity" />
            <button class="cart-button pointer">Add to cart <i class="fa fa-shopping-cart"></i></button>
        </div>
    </section>
</div>