@import "../variables";

.product {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 3rem 0.5rem 1rem 0.5rem;

  &__details {
    max-width: 55rem;
    width: 100%;
    padding: 2rem;
  }

  &__inputs {
    display: flex;
    gap: 1.5rem;

    .quantity {
      width: 2rem;
    }

    .cart-button {
      max-width: 20rem;
      width: 100%;
      border-radius: 3px;
      font-size: 1.25rem;
      background: $submit-btn-background;
      color: $main-bg-color;
    }
  }
}

.images {
  &__main-img {
    max-width: 25rem;
    width: 100%;
  }

  &__gallery-thumbnails {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    gap: 1rem;

    .thumbnail {
      width: 3rem;
      height: 3rem;
      border: 1px solid #000;
    }
  }
}

.details {
  &__product-name {
    margin-top: 0;
    font-size: 2rem;
    color: $logo-color;
  }

  &__product-price {
    font-size: 1.25rem;
  }

  &__product-description {
    text-align: justify;
  }
}
