<div class="login">
    <h1 class="login__form-title">Welcome to OffGrid!</h1>
    <form class="login__form">
        <div class="form__username">
            <label for="username">Username</label>
            <input type="text" placeholder="Enter your email" />
        </div>
        <div class="form__password">
            <label for="password">Password</label>
            <input type="password" placeholder="Enter your password" />
        </div>
        <button type="submit" class="login__button">Log In</button>
        <p class="form__login-redirect">Don't have an account? <span><a routerLink="register">Sign-up</a></span></p>
    </form>
</div>