@import "../../variables";
@import "../checkout-stepper-common";

.checkout__form .form__name,
.checkout__form .form__phone,
.checkout__form .form__country,
.checkout__form .form__county,
.checkout__form .form__city,
.checkout__form .form__address,
.checkout__form .form__postal-code {
  height: 1.5rem;
  max-width: 35rem;
  width: 100%;
}
