<form class="checkout__form">
    <input type="text" placeholder="Name" class="form__name">
    <input type="number" placeholder="Phone" class="form__phone">
    <select name="countrylist" form="Country" class="form__country">
        <option value="Country">Country </option>
        <option value="Romania">Romania </option>
        <option value="USA">USA</option>
    </select>
    <input type="text" placeholder="County" class="form__county">
    <input type="text" placeholder="City" class="form__city">
    <input type="text" placeholder="Address" class="form__address">
    <input type="number" placeholder="Postal code" class="form__postal-code">
</form>