<div class="product-list__item">
    <div class="item">
        <div class="item__details">
            <img src="#" class="item__img" />
            <div class="item__header">
                <p class="item__name">Item 1</p>
                <p class="item__price">Price: $300</p>
            </div>
            <p class="item__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                exercitationem
                quas quam rem eveniet
                dolorem, nemo eaque atque rerum placeat. Lorem ipsum dolor sit amet consectetur, adipisicing
                elit. Id
                fugiat assumenda eius quisquam nostrum eveniet quae voluptatibus harum ullam veritatis.</p>
        </div>
        <button class="item__cart-btn pointer">Add to cart <i class="fa fa-shopping-cart"></i></button>
    </div>
</div>