<div class="item" *ngIf="productListItem">
    <div class="item__details">
        <a routerLink="/product-details"> <img src="{{productListItem.mainImg}}" alt="product-image"
                class="item__img" /></a>
        <div class="item__header">
            <p class="item__name">{{productListItem.name}}</p>
            <p class="item__price">Price: <span>${{productListItem.price}}</span></p>
            <p class="item__stock">Stock: <span>{{productListItem.stock}} pcs</span></p>
        </div>
        <p class="item__description">{{productListItem.description}}</p>
    </div>
    <button class="item__cart-btn pointer">Add to cart <i class="fa fa-shopping-cart"></i></button>
</div>