.product-list {
  padding: 4rem 0 4rem 0;

  &__items-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 20px;
    width: 80%;
    margin: 0 auto;
  }
}

.failed-search-message {
  text-align: center;
}
