<section class="product-list">
    <div class="product-list__items-container">
        <app-product-list-item></app-product-list-item>
        <app-product-list-item></app-product-list-item>
        <app-product-list-item></app-product-list-item>
        <app-product-list-item></app-product-list-item>
        <app-product-list-item></app-product-list-item>
        <app-product-list-item></app-product-list-item>
        <app-product-list-item></app-product-list-item>
        <app-product-list-item></app-product-list-item>
    </div>
</section>