@import "/src/app/variables";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
div,
header,
section,
main,
footer,
ul,
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  text-decoration: none;
  color: #000;
}

::-webkit-input-placeholder {
  font-style: italic;
}

.pointer {
  cursor: pointer;
}

body {
  background: $main-bg-color;
}
