<section class="search-bar">
    <form class="search-bar__form">
        <div class="search-bar__label">
            <label for="search-bar__input">Gear up:</label>
        </div>
        <div class="search-bar__inputs-container">
            <input type="text" name="search" placeholder="Search here" id="search-bar__input"
                class="search-bar__input" />
            <input type="reset" value="X" class="search-bar__reset-btn v-hidden pointer">
            <span class="search-bar__submit-btn pointer">
                <fa-icon [icon]="faSearch"></fa-icon>
            </span>
        </div>
    </form>
</section>