<section class="search-bar">
    <form class="search-bar__form" (ngSubmit)='searchProduct()'>
        <div class="search-bar__label">
            <label for="search-bar__input">Gear up:</label>
        </div>
        <div class="search-bar__inputs-container">
            <div class="search-bar__inputs">
                <input [(ngModel)]="searchTerm" (ngModelChange)="onTextChange($event)" class="search-input" type="text"
                    name="search" autocomplete="off" placeholder="Search here" />
                <button type="reset"
                    [ngClass]="{'search-bar__reset-btn' : true, 'pointer' : true, 'v-hidden' : !show }">
                    <fa-icon [icon]="faTimes"></fa-icon>
                </button>
            </div>
            <button type="submit" class="search-bar__submit-btn pointer">
                <fa-icon [icon]="faSearch"></fa-icon>
            </button>
        </div>
    </form>
</section>