<div class="register">
    <h1 class="register__form-title">Create Account</h1>
    <form name="register__form" class="register__form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form__user-details">
            <div class="user-details__first-name">
                <input name="firstName" type="text" class="first-name" formControlName="firstName" autocomplete="off"
                    required>
                <label class="animation-label">First Name <span
                        *ngIf="registerForm.get('firstName')?.touched && registerForm.get('firstName')?.hasError('required')"
                        class="required">
                        *required</span>
                </label>
            </div>
            <div class="user-details__last-name">
                <input name="lastName" type="text" class="last-name" formControlName="lastName" autocomplete="off"
                    required>
                <label class="animation-label">Last Name <span
                        *ngIf="registerForm.get('lastName')?.touched && registerForm.get('lastName')?.hasError('required')"
                        class="required">
                        *required</span></label>
            </div>
            <div class="user-details__email">
                <input name="email" type="text" class="email" formControlName="email" autocomplete="off" required>
                <label for="email" class="animation-label">Email
                    <span *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.hasError('required')"
                        class="required">
                        *required</span>
                    <span *ngIf="registerForm.get('email')?.dirty && emailValidator(registerForm.get('email'))"
                        class="required"> *please use a valid e-mail format</span>
                </label>
            </div>
            <div class="user-details__password">
                <input name="password" type="password" class="password" formControlName="password" required>
                <label for="password" class="animation-label">Password <span
                        *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.hasError('required')"
                        class="required">
                        *required</span>
                    <span *ngIf="registerForm.get('password')?.errors?.minlength" class="required">
                        *Password must be at least 8 characters long.</span>
                </label>
            </div>
            <div class="user-details__verified-password">
                <input name="verifiedPassword" type="password" class="verified-password"
                    formControlName="verifiedPassword" required>
                <label for="verifiedPassword" class="animation-label">Re-enter the password <span
                        *ngIf="registerForm.get('verifiedPassword')?.dirty && registerForm.get('password')?.value !== registerForm.get('verifiedPassword')?.value"
                        class="required">
                        *Password mismatch</span></label>
            </div>
        </div>
        <div class="form__consent">
            <input type="checkbox" id="register-consent" name="register-consent" (change)="checkBoxHandler()" required>
            <label for="register-consent" [ngClass]="{'required': submitted && !consentCheckBox}">
                I agree to send my personal data to OffGrid.</label>
        </div>
        <button class="submit-button pointer" type="submit">Register</button>
        <p class="form__login-redirect">Already have an account? <span><a routerLink="#">Sign-In</a></span></p>
    </form>
</div>